<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<body>
    <div class="container">
  <div class="row align-items-start">
    <div class="col">
     <div id="movies">
        <h3 class="text-center text-white pt-5">Movies form</h3>
        <div class="container container-form-movies">
         
                 <div id="login-column">
                    <div id="login-box">
                        <form id="login-form" class="form" action="/add_movies" method="post">
                            <h3 class="text-center text-info">Movies</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Name:</label><br>
                                <input type="text" name="movie" id="movie" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="director" class="text-info">Director:</label><br>
                                <input type="text" name="director" id="director" class="form-control" required>
                            </div>
                           <div class="form-group">
                            <label for="category" class="text-info">Category:</label><br>
                            <select class="form-select" aria-label="Default select example" required name="category">
                             {{#each categories}}
                             <option value="{{_id}}">{{category}}</option>
                               {{/each}}
                            </select>
                            </div>
                            <div class="form-group">
                                <label for="remember-me" class="text-info"></label><br>
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="Save">
                            </div>
                      </form>
                    </div>
                </div>
           </div>
    </div>
    </div>
<div class="col column-list">
    
 <table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Director</th>
      <th scope="col">Category</th>
    </tr>
  </thead>
  <tbody>
   {{#each movies}}
                            
    <tr>
      <th scope="row">{{movie}}</th>
      <td>{{director}}</td>
      {{#each category}}
      <td>{{category}}</td>
      {{/each}}
      <td class="btn-edit">
       <a href="/edit/{{_id}}">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modificarProducto{{idproducto}}">
         <img src="/static/imagenes/edit.png" width="20px">
      </button>
      </a>
      </td>
      <td class="btn-delete">
      <a href="/delete/{{_id}}">
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#eliminarProducto{{idproducto}}">
      <img src="/static/imagenes/delete.png" width="20px">
      <i class="fas fa-trash-alt"></i>
      </button>
      </a>
      </td>
    </tr>
    <tr>
  </tbody>
    {{/each}}
</table>
    </div>
  
  </div>
   
  
</body>
